$bleuroi: rgb(61,82,102);
$bleuroilight: lighten(rgb(61,82,102), 30%);
$grisclair: rgb(230,234,234);
$gris: rgb(190,194,194);
$grismoyen: rgb(150,150,160);
$grisfonce: rgb(57,57,64);
$or: rgb(179,161,125);
$rouge: rgb(204,61,82);
