@import '../fonts/libertinus/libertinus.css';
@import '../fonts/notosans/notosans.css';
// @import '../fonts/notosans/notosans-semicondensed.css';
// @import '../fonts/notosans/notosans-condensed.css';
// @import '../fonts/notosans/notosans-extracondensed.css';

@mixin fontsans {
  font-family: "noto_sans";
}
@mixin fontserif {
  font-family: 'libertinus_serif';
}

body{
  @include fontserif;
  font-weight: 400;

  // font-family: 'noto_sans';
  // font-weight: 900;
  // font-style: italic;
}

#header-menu,
#footer-tabs,
#search,
footer[role="tools"] .row>header,
footer[role="tools"] .row>nav{
  @include fontsans;
}
